##### ¿Estimar el ritmo de ventas de la empresa con el fin de estimar el espacio que se necesitará para una futura mudanza de los almacenes?

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/4GeeksAcademy/alternative-time-series-project/main/sales.csv"
dataset = pd.read_csv(url)

In [3]:
dataset.head(2)

                         date      sales
0  2022-09-03 17:10:08.079328  55.292157
1  2022-09-04 17:10:08.079328  53.803211

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    366 non-null    object
 1   sales   366 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [8]:
dataset['date'] = pd.to_datetime(dataset['date']).dt.date

In [10]:
dataset.head()

         date      sales
0  2022-09-03  55.292157
1  2022-09-04  53.803211
2  2022-09-05  58.141693
3  2022-09-06  64.530899
4  2022-09-07  66.013633